.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  background-color: rgb(245, 245, 245);
  align-items: center;
}

.navbar nav ul {
  list-style-type: none;
}

.navbar nav ul {
  display: flex;
  justify-content: space-evenly;
  gap: 0 10px;
}

.nav-link {
  color: #2b364c;
  font-size: 1.15rem;
}

@media only screen and (min-width: 768px) {
  .navbar {
    padding: 0.75rem 5rem;
  }
}
